################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/DemoWebAPI/FileContentIndex/0435c2bc-0226-4d56-b069-e68f0d93aefc.vsidx
